p {
	color:  #000000;
}
h3 {
	color:  #0E8C3A;
}
h2 {
	color:  #0E8C3A;
}
h1 {
		color:  #0E8C3A;
		text-align: center;

}
body {
    padding-top: 50px;
    text-align: center;
    background-color: rgb(230,230,230);
}

.listing
{
    border-style: solid;
    border-width: 5px;
    color: rgb(230,230,230);
    background-color: white;
    padding-bottom: 1%;
	padding-left:2%;
}

#listingContainer{
}
#listingContainerForUser{
	background-color: white;
}
.listing p {
		margin-left: 2%;
		margin-top: 1%;
}
.listing h3{
    
	text-align: left;
}

#emailText{
			color:  #0E8C3A;
}
#faq-body,
#contact-body,
#about-body{
	margin-top: 2%;
}
.modal-content{
	text-align: center;
}
#emailRegister,
#registerSubmit,
#emailLogin,
#passwordLogin,
#loginSubmit,
#passwordSubmit,
#emailFP,
#passwordFP,
#passwordSubmit,
#passwordConfirmFP{
	margin-top: 2%;
}
#emailBox,
#codeBox,
#fName,
#lName,
#pw,
#pwc,
#schedule,
#CreateAcctStatus{
	margin-top: 3%;
}
#checkbox-createL{
	margin-top:1%;
}
