p {
	color: rgb(0,0,0);
}
h3 {
	color: #74B84B;
}
h2 {
	color: #74B84B;
}
h1 {
	color: #74B84B;
}
body {
    padding-top: 50px;
    text-align: center;
    background-color: rgb(230,230,230);
}
.clearfix {
	text-align: center;
}
SearchButton{
	color: #74B84B;
}
